<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ControlHub</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
  
      #image {
        padding-top: 170px;
      }
    </style>
    
</head>
<body>
<section class="vh-100" style="background-color: #f1f1f1;">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col col-xl-10">
          <div class="card shadow-sm" style="border-radius: 1rem; ">
            <div class="row g-0">
              <div class="col-md-6 col-lg-5 d-none d-md-block" id="image">
                <img src="https://img.freepik.com/free-vector/my-password-concept-illustration_114360-4294.jpg?w=740&t=st=1717830454~exp=1717831054~hmac=0c244bf379adf934072145e4cdc02cfba78850d3c53c2e2533abe0145af9cdc8"
                  alt="login form" class="img-fluid" style="border-radius: 1rem 0 0 1rem;" />
              </div>
              <div class="col-md-6 col-lg-7 d-flex align-items-center">
                <div class="card-body p-4 p-lg-5 text-black">
                    <div class="d-flex align-items-center mb-3 pb-1">
                      <span class="h1 fw-bold mb-0" style="color:#bc46ac;">ControlHub</span>
                    </div>
  
                    <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Sign into your account</h5>
                    <% if(typeof message!== 'undefined'){ %>
                      <div id="messageContainer" class="alert alert-info" role="alert">
                          <h6 class="fw-normal" style="letter-spacing: 1px;"><%= message %></h6>
                      </div>
                  <% } %>
      
                    <form action="/login" method="post">
                    <div data-mdb-input-init class="form-outline mb-4">
                      <label class="form-label" for="form2Example17">Email address</label>
                      <input type="email" id="form2Example17" class="form-control form-control-lg" name="email" required/>
                    </div>
  
                    <div data-mdb-input-init class="form-outline mb-4">
                      <label class="form-label" for="form2Example27">Password</label>
                      <input type="password" id="form2Example27" class="form-control form-control-lg" name="password" required />
                    </div>
  
                    <div class="pt-1 mb-4">
                      <button data-mdb-button-init data-mdb-ripple-init class="btn btn-dark btn-lg btn-block" type="submit">Login</button>
                    </div>
                </form>
  
                    <a class="small text-muted" href="/forget">Forgot password?</a>
                    <a href="/varification" class="small text-muted"> Resend Email Varification</a>
                    <p class="mb-5 pb-lg-2" style="color: #393f81;">Don't have an account? <a href="/register"
                        style="color: #393f81;">Register here</a></p>                  
  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

    
</body>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        var messageContainer = document.getElementById('messageContainer');
        
        if(messageContainer) {
            setTimeout(function() {
                messageContainer.style.display = 'none';
            }, 1000); 
        }
    });
    </script>
</html>
